<form ng-controller="ListagemController" ng-init="inicializar()">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" ng-model="vm.cpf" ui-br-cpf-mask required>
                </div>
            </div>
            <div class="col-md-5" style="padding-top: 2em">
                <button type="button" class="btn btn-success" id="btPesquisar" ng-click="consultar(vm.cpf)">Pesquisar</button>
                <button type="button" class="btn btn-primary" id="btCadastrar" ng-click="toProposta()">Cadastrar Proposta</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-1 col-md-10" style="padding-top: 2em">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col"><strong>Nome</strong></th>
                        <th scope="col"><strong>Idade</strong></th>
                        <th scope="col"><strong>Sexo</strong></th>
                        <th scope="col"><strong>Estado Civil</strong></th>
                        <th scope="col"><strong>UF</strong></th>
                        <th scope="col"><strong>Dependentes</strong></th>
                        <th scope="col"><strong>Renda R$</strong></th>
                        <th scope="col"><strong>Resultado Análise</strong></th>
                        <th scope="col"><strong>Limite</strong></th>
                    </tr>
                </thead>

                <tbody>
                    <tr  scope="row"ng-repeat="proposta in vm.propostas" ng-show="vm.propostas">
                        <td class="center" >{{proposta.nome}}</td>
                        <td class="center">{{proposta.idade}}</td>
                        <td class="center">{{proposta.sexo}}</td>
                        <td class="center">{{proposta.estadoCivil}}</td>
                        <td class="center">{{proposta.estado}}</td>
                        <td class="center">{{proposta.dependentes}}</td>
                        <td class="center">{{proposta.renda | currency}}</td>
                        <td class="center" align="center">{{proposta.statusProposta}}</td>
                        <td class="center">{{proposta.descricaoLimite}}</td>
                        <td><button type="button" class="btn btn-success" ng-click="avaliarProposta(proposta.id)" ng-show="proposta.statusProposta == 'PENDENTE_APROVACAO'">Avaliar</button></td>
                    </tr>
                    <tr ng-show="!vm.propostas.length">
                        <td class="center text-center" colspan="9">Nenhuma análise cadastrada!</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</form>