<form ng-controller="PropostaController" ng-init="inicializar()">
    <div class="container">
        <div style="align-content: center">
            <h2>Cadastro de proposta</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" ng-model="vm.proposta.nome" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" ng-model="vm.proposta.cpf" ui-br-cpf-mask required>
                </div>
            </div>
            <div class="col-md-3">
                <label for="idade">Idade</label>
                <input type="number" class="form-control" id="idade" ng-model="vm.proposta.idade" min="0" max="150"
                       required>
            </div>
            <div class="col-md-3">
                <label>Sexo</label>
                <select class="form-control" ng-model="vm.proposta.sexo"
                        ng-options="chave as descri for (chave, descri) in vm.sexos" required></select>
            </div>
            <div class="col-md-3">
                <label>Estado Civil</label>

                <select class="form-control" ng-model="vm.proposta.estadoCivil"
                        ng-options="chave as descri for (chave, descri) in vm.estadosCivis" required></select>
            </div>

            <div class="col-md-3">
                <label>Estado</label>
                <select class="form-control" ng-model="vm.proposta.estado"
                        ng-options="uf as descri for (uf, descri) in vm.estados" required></select>
            </div>

            <div class="col-md-3">
                <label for="dependentes">Dependentes</label>
                <input type="number" class="form-control" id="dependentes" ng-model="vm.proposta.dependentes" min="0"
                       required>
            </div>

            <div class="col-md-3">
                <label for="renda">Renda</label>
                <input type="text" class="form-control" id="renda" ng-model="vm.proposta.renda" ui-money-mask required>
            </div>
        </div>
        <br>
        <div style="text-align: center; alignment: center">
            <button type="button" class="btn btn-outline-success" ng-click="salvar(vm.proposta)">Salvar</button>
            <button type="reset" class="btn btn-outline-warning">Limpar</button>
            <button type="button" class="btn btn-outline-dark" ng-click="toListagem()">Voltar</button>
        </div>
    </div>
</form>